.container {
    background-color: lightblue;
display: flex;
border: solid 3px black;
margin: 150px;
height: 40vh;
width: 40vh;
justify-content: center;
z-index: -1;

}

#Lily {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: column; 
    justify-content: center; 
    z-index: 1;
    position: absolute;
}

.greenLily {
  display: flex; 
  margin-left: 400px;
}

.yellowLily {
    display: flex;
    margin-top: -220px;
    /* margin-right: -100px; */
}

.redLily {
    display: flex;
    margin-left: 400px;
}

#Frogs {
display: flex;
flex-wrap: wrap-reverse;
justify-content: center;
flex-direction: column;
z-index: 2;
position: absolute;
}

.frogGreen {
    display: flex;
    margin-left: 400px;
}

.frogRed {
    display: flex;
    margin-left: 400px;
}

.frogYellow {
display: flex;
margin-top: -220px;
/* margin-right: -100px; */
} 

