.container {
display: flex;
border: solid 3px black;
height: 40vh;
width: 40vh;
flex-wrap: wrap-reverse;
flex-direction: column;
justify-content: center;
}

#Lily {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: column; 
    justify-content: center; 
    position: absolute;
    
}

.frogGreen {
display: flex;
justify-content: flex-end;
flex-direction: column;
/* position: absolute; */
z-index: 1;
}

.frogRed {
    display: flex;
    justify-content: flex-end;
    /* position: absolute; */
    z-index: 1;
}

.frogYellow {
    display: flex;
   /* position: absolute; */
    z-index: 1;
    margin-top: 25px;
}
